*/target
Cargo.lock
target

# Ignore test assets
sponza*

# Note that we NEVER care about uncompressed glTF stuff
*.gltf
*.bin
*.jpg
*.png
*.ktx2
*.ktx

# Ignore logs
*.log

# Don't ignore images from rendering tests
!render_*.jpg

# Ignore compiled shaders
*.spv

# Checking in a socket is probably a terrible idea
*.socket

# Ignore vscode settings
.vscode/settings.json
