[workspace]
members = ["hotham", "hotham-simulator", "examples/simple-scene", "examples/beat-saber-clone", "hotham-debug-server"]

# Make performance critical packages compile with optimisations
[profile.dev.package.rapier3d]
opt-level = 3

[profile.dev.package.base64]
opt-level = 3

[profile.dev.package.gltf]
opt-level = 3

[profile.dev.package.image]
opt-level = 3

[profile.dev.package.symphonia]
opt-level = 3
