[workspace]
members = ["hotham", "hotham-simulator", "examples/simple-scene", "examples/custom-rendering", "examples/crab-saber", "benchmarks/stress-test"]

# Make performance critical packages compile with optimizations
[profile.dev.package.rapier3d]
opt-level = 3

[profile.dev.package.parry3d]
opt-level = 3

[profile.dev.package.nalgebra]
opt-level = 3

[profile.dev.package.glam]
opt-level = 3

[profile.dev.package.gltf]
opt-level = 3

[profile.dev.package.gltf-json]
opt-level = 3

[profile.dev.package.serde]
opt-level = 3

[profile.dev.package.image]
opt-level = 3

[profile.dev.package.png]
opt-level = 3

[profile.dev.package.bytemuck]
opt-level = 3

[profile.dev.package.symphonia]
opt-level = 3

[profile.dev.package.symphonia-core]
opt-level = 3

[profile.dev.package.symphonia-bundle-mp3]
opt-level = 3
