[package]
build = "build.rs"
description = "A framework for creating incredible standalone VR experiences"
edition = "2018"
keywords = ["vr", "gamedev", "openxr", "vulkan"]
license = "MIT OR Apache-2.0"
name = "hotham"
readme = "../README.md"
repository = "https://github.com/leetvr/hotham/"
version = "0.1.1"

[build-dependencies]
shaderc = "0.8"

[dependencies]
anyhow = "1.0"
ash = "0.33.2"
console = "0.14"
cpal = "0.13.5"
crossbeam = "0.8.1"
ctrlc = {version = "3", features = ["termination"]}
egui = "0.15"
generational-arena = "0.2.8"
gltf = {version = "1.0", features = ["KHR_materials_pbrSpecularGlossiness"]}
hecs = "0.7.5"
hotham-debug-server = {path = "../hotham-debug-server", version = "0.1"}
image = "0.23"
itertools = "0.10.0"
libktx-rs = "0.2.3"
memoffset = "0.6.5"
mint = "0.5.6"
nalgebra = {features = ["convert-mint", "serde-serialize"], version = "0.29.0"}
oddio = "0.5"
openxr = {features = ["loaded", "mint"], version = "0.16"}
rand = "0.8"
rapier3d = "0.11.1"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
symphonia = {version = "0.5", features = ["mp3"]}
thiserror = "1.0"
uuid = {version = "0.8", features = ["serde", "v4"]}

[target.'cfg(not(any(target_os = "macos", target_os = "ios")))'.dependencies]
renderdoc = "0.10"

[dev-dependencies]
approx = "0.5"

[target.'cfg(target_os = "android")'.dependencies]
jni = "0.19.0"
ndk = "0.6"
ndk-glue = ">=0.6.2"
